@page
@model IndexModel
@{
    ViewData["Title"] = "FizzBuzz";
}
<span asp-validation-for="FizzBuzz.fbNumber" class="text-danger"></span>

<div class="text-center">
    <h1 class="display-4">Welcome, please enter the number</h1>
    <form method="post">
        <div class="row">
            <div class="col">
                <label asp-for="FizzBuzz.fbNumber"></label><br />
                <input asp-for="FizzBuzz.fbNumber" />
            </div>
        </div>
        <div class="text-center">
            <br /><br /><br />
            <button type="submit" class="btn-primary">Zatwierdź</button>
        </div>

    </form>
</div>
<div class="text-center">
    <h1 class="text-info">Here is all-people the history: </h1>
    @foreach (var x in Model.FizzBuzzDataModels)
    {
        <div class="row">
            <div class="col">
                <label>@x.FizzBuzzNumber</label>
                <label>@x.FizzBuzzResult</label>
                <label>@x.DateTime</label>
                <label>@x.Id</label>
            </div>
        </div>
    }
</div>


